<ion-header>
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of contactsList">
      <ion-item-options side="start">
        <ion-item-option (click)="presentModal(item)">Edit</ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label>{{ item.firstName + ' ' + item.lastName }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="deleteContact(item._id)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


