<ion-header translucent>
    <ion-toolbar>
        <ion-title>
            {{isLoginMode ? 'Sign In' : 'Sign Up'}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content">

    <div *ngIf="isLoading" class="spinner">
        <ion-spinner color="secondary" name="lines"></ion-spinner>
    </div>

    <form [formGroup]="authForm" (ngSubmit)="onSubmit($event)">
        <ion-list lines="full" class="ion-margin-top ion-no-padding">

            <ion-item *ngIf="!isLoginMode">
                <ion-label position="floating">First Name<ion-text color="danger">*</ion-text></ion-label>
                <ion-input formControlName="firstName" name="firstName" required type="text"></ion-input>
            </ion-item>

            <ion-item *ngIf="!isLoginMode">
                <ion-label position="floating">Last Name<ion-text color="danger">*</ion-text></ion-label>
                <ion-input formControlName="lastName" name="lastName" required type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Email<ion-text color="danger">*</ion-text></ion-label>
                <ion-input formControlName="email" name="email" required type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Password<ion-text color="danger">*</ion-text></ion-label>
                <ion-input formControlName="password" name="password" required type="password"></ion-input>
            </ion-item>

            <ion-item *ngIf="!isLoginMode">
                <ion-label position="floating">Repeat Password<ion-text color="danger">*</ion-text></ion-label>
                <ion-input formControlName="confirmPassword" name="password2" minlength="6" required type="password"></ion-input>
            </ion-item>
        </ion-list>

        <div class="ion-padding buttons">
            <ion-button color="success" type="submit" class="ion-no-margin" [disabled]="!authForm.valid">{{isLoginMode ? 'Sign In' : 'Sign Up'}}</ion-button>
            <ion-button color="medium" type="button" class="" (click)="onSwitchMode()">Switch to {{isLoginMode ? 'Sign Up' : 'Sign In'}}</ion-button>
        </div>
    </form>
</ion-content>
