<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      {{editMode ? 'Edit Contact' : 'Add Contact'}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <form [formGroup]="contactForm" (ngSubmit)="formSubmit($event)">
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text" formControlName="firstName" name="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" formControlName="lastName" name="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="text" formControlName="phone" name="phone"></ion-input>
    </ion-item>
    <ion-item>
      <input [style.background]="backgroundColor"
             [cpPosition]="'bottom'"
             [cpOutputFormat]="'rgba'"
             [(colorPicker)]="backgroundColor"
             class="color-picker-input"/>
      <ion-label position="fixed">Contact Background</ion-label>
    </ion-item>
    <div class="buttons">
      <ion-button color="primary" expand="block" type="submit">{{editMode ? 'Save' : 'Add'}}</ion-button>
    </div>
  </form>
</ion-content>
