.total-value {
  display: flex;
  align-items: center;
  justify-content: center;
  &-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #5555ecd6;
    font-size: 24px;
  }
}

.value-input {
  outline: none;
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}

.debtors-title {
  position: relative;
  text-align: center;
  &--text {}
  &--icon {
    position: absolute;
    right: 0;
    top: 2px;
  }
}

.list-item {
  &-wrap {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &--icon {
    margin-right: 10px;
  }
  &--input {
    display: inline-flex;
    flex: initial;
    margin-left: auto;
    width: 60px;
    min-width: 30px;
    text-align: right;
  }
  &--checkbox {
    margin: 0 10px 0 0;
  }
}

.user-toggle {
  margin-right: -10px;
}


