<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" color="primary" (click)="close()">Close</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" expand="block" (click)="save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
  <ng-container *ngIf="!isLoading">
    <div class="total-value">
      <label class="total-value-circle">
        <input class="value-input" type="number" [(ngModel)]="transaction.value">
        <span>Total: ₴{{transaction.value}}</span>
        <span *ngIf="transaction.includesUser">{{'In debt: ₴' + getDebtorsTotalValue()}}</span>
      </label>
    </div>

    <ion-list>
      <ion-item no-padding>
        Created: {{transaction.createdAt | date:'medium'}}
      </ion-item>
      <ion-item no-padding>
        <ion-input placeholder="Description" [(ngModel)]="transaction.notes"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <h3 class="debtors-title">
        <span class="debtors-title--text">Debtors</span>
        <ion-icon (click)="toggleEditDebtors()" class="debtors-title--icon" [color]="isEditDebtors ? 'primary' : null"
                  name="create"></ion-icon>
      </h3>

      <app-transaction-user-input *ngIf="isEditDebtors"
                                  (contactAdded)="addNewContact($event)"
                                  (contactDeleted)="deleteContact($event)"
                                  [(ngModel)]="transaction.contacts">
      </app-transaction-user-input>

      <ion-item no-padding>
        <ion-button size="small" (click)="setAverageValue()" color="primary">Calc average</ion-button>
      </ion-item>

      <ion-item no-padding>
        <ion-label>Include me</ion-label>
        <ion-toggle class="user-toggle"
                    [(ngModel)]="transaction.includesUser"
                    color="primary"></ion-toggle>
      </ion-item>

      <ion-item class="list-item" no-padding *ngFor="let contact of transaction.contacts">
        <div class="list-item-wrap">
          <ion-checkbox color="primary"
                        [name]="contact._id"
                        class="list-item--checkbox"
                        [(ngModel)]="transaction.debtors[contact._id].complete"
                        slot="start">
          </ion-checkbox>

          <div class="list-item-info">
            <label [for]="isEditDebtors ? contact._id : null"
                   class="list-item--name">
              {{contact.firstName + ' ' + contact.lastName}}
            </label>
          </div>

          <ion-input class="list-item--input"
                     *ngIf="contact"
                     type="number"
                     [attr.data-contact-id]="contact._id"
                     [required]="isEditDebtors"
                     [disabled]="!isEditDebtors"
                     [(ngModel)]="transaction.debtors[contact._id].value">
          </ion-input>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>

</ion-content>
