.transaction-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .date {
    margin-left: auto;
    margin-right: 10px;
  }
  .status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(204, 204, 204, 0.78);
    border: 1px solid #ccc;
    &.active {
      background-color: rgba(28, 203, 0, 0.87);
      border-color: rgba(31, 235, 0, 0.87);
    }
  }
}
