<ion-header>
  <ion-toolbar>
    <ion-title>
      Transactions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of transactionList">
      <ion-item (click)="presentModal(item)">
        <ion-label class="transaction-list-item">
          <span class="total">Total: {{ item.value }}</span>
          <span class="date">{{item.createdAt | date}}</span>
          <span class="status" [ngClass]="{'active': item.active}"></span>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="deleteTransaction(item._id)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
