<ion-header>
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div #chartContainer class='chart-container'>
    <canvas #chartCanvas id="chart" class="chart"></canvas>
  </div>
</ion-content>
