<div class="selected-users">
  <ion-item>
    <ion-input #input placeholder="Share with..."></ion-input>
  </ion-item>

  <div class="selected-users-badges">
    <ion-badge class="selected-users__badge" (click)="removeContact(contact._id)" color="secondary" *ngFor="let contact of selectedContacts">
      {{contact.firstName + ' ' + contact.lastName}}
    </ion-badge>
  </div>

  <ion-list class="selected-users-list">
    <ion-item color="primary" *ngFor="let item of contactListFiltered" (click)="addContact(item)">
      {{ item.firstName + ' ' + item.lastName }}
    </ion-item>
  </ion-list>
</div>
