.selected-users {
  position: relative;
  &-list {
    //position: absolute;
    z-index: 10;
    left: 0;
    top: calc(100% + 5px);
    width: calc(100% + 32px);
    height: auto;
    margin: 0 -16px;
    padding-top: 0;
  }
  &-badges {
    margin-top: 10px;
  }
  &__badge {
    margin: 2px 3px;
  }
}
